[workspace]
name = "2026-openff-workshops"
description = "2026 Open Force Field Workshops"
authors = ["Josh Mitchell <yoshanuikabundi@gmail.com>"]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64"]
license = "MIT"
license-file = "LICENSE"
readme = "README.md"
# homepage = "https://docs.openforcefield.org/workshops/2026"
# repository = "https://github.com/openforcefield/2026-openff-workshops"

[dependencies]
python = ">=3.12"
openff-toolkit-examples = ">=0.17.1"
openff-nagl-base = ">=0.5.2"
openff-nagl-models = "*"
nglview = ">=3.0.6,<3.1.0"
ipython = "*"
jupyterlab = ">=4"
ipywidgets = ">=8"
jupyterlab_execute_time = "*"
jupyterlab-lsp = "*"
jupyterlab_rise = "*"
jedi-language-server = "*"
jupyterlab_code_formatter = "*"
black = "*"
isort = "*"
snakeviz = "*"
tqdm = "*"

[feature.fit.dependencies]
pytorch = ">=2.6"
smee = "*"
descent = "*"
openff-qcsubmit = ">=0.57.0"
matplotlib = ">=3.10.5"
tensorboardx = ">=2.6.2.2"
tensorboard = "*"
json5 = ">=0.12.1"
polars = ">=1.33.1"
pydantic = ">=2.0,<3"
mdanalysis = "*"             # Required by yammbs

[feature.fit.pypi-dependencies]
yammbs = { git = "https://github.com/openforcefield/yammbs.git", rev = "4f88e07" }

[feature.ptm.dependencies]
# Pablo deps
rdkit = ">=2025"
openmm = "*"
numpy = "*"
rustworkx = "*"
pyxdg = "*"
gemmi = "*"

[feature.ptm.pypi-dependencies]
# openff-pablo = { git = "https://github.com/openforcefield/openff-pablo.git", rev = "v0.2.1" }
openff-pablo = { git = "https://github.com/openforcefield/openff-pablo.git", rev = "a7556e691bf5f3738698ad7debff28044ec1df58" }

[feature.prep.dependencies]
propka = "*"
pdb2pqr = "*"
pdbfixer = "*"
mdanalysis = ">=2.10.0,<3"

[feature.fit-tasks.tasks.fitting-workshop]
cmd = "jupyter lab --ServerApp.iopub_data_rate_limit=10000000 fitting-workshop.ipynb"
cwd = "fit"

[feature.ptm-tasks.tasks.ptm-workshop]
cmd = "jupyter lab --ServerApp.iopub_data_rate_limit=10000000 ptm-workshop.ipynb"
cwd = "ptm"

[feature.prep-tasks.tasks.lab]
cmd = "jupyter lab --ServerApp.iopub_data_rate_limit=10000000"

[environments]
fit = { features = ["fit", "fit-tasks"] }
ptm = { features = ["ptm", "ptm-tasks"], solve-group = "ptm" }
prep = { features = ["ptm", "prep", "prep-tasks"], solve-group = "ptm" }
