run-smee-fit-from-qca-data-commented.ipynb
tensorboard_logs/
figures/
*.json
*.png
*.sqlite
*.offxml
othercells.py
*.pickle
!lipids_benchmark.sqlite
!lipids_benchmark_torsions.sqlite
!train_molecules.pickle
!train_records.pickle
!optimized.offxml
